
@{
    ViewBag.Title = "My Title and why the rest";
}

<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>Wwe're going to have an exciting party. <br />
        (To do: sell it better.  Add pictures or someting.)
        </p>
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>

</body>
